
 <footer class="footer" style="background-color:#FEBD84;">
   <div class="footer-copyright text-center py-3"> 
        <a href="https://www.github.com/katherinestout"
        style="text-decoration: none; color: white;">       
        &#169; 2019 Katherine Stout
        <i class="fab fa-github"></i>
        </a>
        </div>
    </footer>