
 <footer class="footer" style="background-color:whitesmoke;">
   <div class="footer-copyright text-center py-3"> 
        <a href="https://www.github.com/katherinestout">       
        &#169; 2018 Katherine Stout
        <i class="fab fa-github"></i>
        </a>
        </div>
    </footer>