<div class="head-container">
    <div class="overlay">

  

 <img src="https://images.unsplash.com/photo-1517685645259-c6caddb7165d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80
"width = "100%">
<div class="centered">
        <h1>Carmen's</h1>

  </div>
</div>
</div>
