<div class="head-container">
    <div class="overlay">

  

 <img src="https://www.freewebheaders.com/wordpress/wp-content/gallery/food/green-pickled-olive-website-header-image.jpg"
width = "100%"
>

  <div class="backgr">
<div class="centered">
        <h1>Carmen's Restaurant<i class="fas fa-pizza-slice"></i></h1>
  </div>
</div>
</div>
</div>
