
    <div class="topnav"
    id="myTopnav"
    style="padding: 2%; box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7); 
    overflow: hidden;
    background:#FEBD84;">
    <div class="nav-container">

          <a href="javascript:void(0);" 
            class="icon" 
            onclick="myFunction()">
          <i class="fas fa-pizza-slice"></i>
          </a>
        
          <a href='/'>
          HOME</a>

          <a href='/contact'>
          CONTACT</a>

         <a href='/menu'>
         MENU</a>

         <a href='/reviews'>
         REVIEWS</a>
 </div>
        

    </div>