
    <ul class="nav justify-content-end navbar-dark bg-dark"
    style="padding: 2%;">
        <li class="nav-item" 
        style="margin-left: 5px;">
            <a href='/' 
            style="color: white; 
            text-decoration: none;
            font-size: 20px;">
            HOME</a>
        </li>
          <li class="nav-item" 
          style="margin-left: 5px;">
          <a href='/contact'
          style="color: white; 
            text-decoration: none;
            font-size: 20px;">
          CONTACT</a>
        </li>
          <li class="nav-item" 
          style="margin-left: 5px;">
         <a href='/menu'
            style="color: white; 
            text-decoration: none;
            font-size: 20px;">
         MENU</a>
        </li>
    </ul>