<div class="header-container">
{{>header}}
</div>
{{>navbar}}

<div class="contact-page">
    <h1>Contact Page</h1>

</div>
{{#each carmen as |value key|}}

  <p> {{key}} : {{value}}</p> 


{{/each}}


