
<div class="header-container">
{{>header}}
</div>

<div id="navbar">
{{>navbar}}
</div>

<div class="home-page">
    <div class="container content">
    <div class="wrapper">
        <div class="home">
    <h1>Ciao!</h1>
    <hr>
    <h2 style="text-align: center; font-size: 25px;">
        Family owned and run business since 1950.
   </h2>

<div class="home-wrapper-1">

<div class="text-1">
<h3>Our Story:</h3>
<p>Our Great Grandfather came from Italy,
    a man with barely $10 in his pocket.
    He had a passion for pizza, wine, and fine Italian cuisine.
    With a vision and a dream, he came to America 
    to fulfill his dream of opening his own restaurant.
</p>
<p>Carmen's has now been in the family for generations.
    It is the center hub for Italians in the area.
</p>
<p>
We now have restaurants in New York and New Jersey. This is the first and original location of Carmen's.
</p>
<p>Our dining area sits 100 guests, and our servers are attentive and knowledgeable about
    the food. Our most popular food items are the pear salad, and the cheese pizza.
</p>
 <p>We are a family owned and run business.
      We only use organic tomatoes and we make our pasta fresh.
       Serving you the best quality and best tasting Italian food in America. 
       </p>
<p>
Goodness comes from the heart. And also from the belly. Our food is made with integrity.
</p>
       
</div>
<div>
<img src="https://images.unsplash.com/photo-1522666257812-173fdc2d11fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80"
class="img2">
</div>
</div>

 <p>Every dish is made with love. Pasta is life don't let anyone tell you otherwise.</p>

<div class="home-wrapper-2">
<div>
<img src="https://images.unsplash.com/photo-1536964549204-cce9eab227bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
width = "100%">
</div>
<div class="text-2">
     <p>We are a family owned and run business.
      We only use organic tomatoes and we make our pasta fresh.
       Serving you the best quality and best tasting Italian food in America. 
       </p>
       <p></p>
       Every dish is made with love. Pasta is life don't let anyone tell you otherwise.</p>
<p>We are located on 401 Roman Ave, next to the ocean.</p>
<p>Call us at 4449994949,
     to make a reservation.</p>
     <p>Leave us a review, or get in contact with us! We love to hear
    your feedback.
</p>
<h2><i class="fas fa-pizza-slice"></i> {{name}}</h2>
</div>
</div>

 

</div>
</div>
</div>
</div>

