
<div class="header-container">
{{>header}}
</div>

<div id="navbar">
{{>navbar}}
</div>

<div class="home-page">
    <div class="container content">
    <div class="wrapper">
        <div class="home">
    <h1>{{slogan}}</h1>
<h2>{{name}}</h2>
</div>
</div>
</div>
</div>

