
<div class="header-container">
{{>header}}
</div>

<div id="navbar">
{{>navbar}}
</div>

<div class="home-page">
    <div class="container content">
    <div class="wrapper">
        <div class="home">
    <h1>Ciao!</h1>

<div class="home-wrapper-1">

<div>
<p>We are a family owned and run business. Our customer satisfaction
    is our top priority.
</p>
<p>Serving you the best quality and best tasting Italian food in America. </p>
<h2>Our Story:</h2>
<p>Our Great Grandfather came from Italy,
    a man with barely $10 in his pocket.
    He had a passion for pizza, wine, and fine Italian cuisine.
    With a vision and a dream, he came to America 
    to fulfill his dream of opening his own restaurant.
</p>
<p>Carmen's has now been in the family for generations.
    It is the center hub for Italians in the area.
</p>
<p>Leave us a review, or get in contact with us! We love to hear
    your feedback.
</p>
</div>
<div>
<img src="https://images.unsplash.com/photo-1522666257812-173fdc2d11fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80"
class="img2">
</div>
</div>

<div class="home-wrapper-2">
<div>
<img src="https://images.unsplash.com/photo-1536964549204-cce9eab227bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
width = "100%">
</div>
<div>
<p>We are located on 401 Roman Ave, next to the ocean.</p>
<p>Call us at 4449994949,
     to make a reservation.</p>
<h2><i class="fas fa-pizza-slice"></i> {{name}}</h2>
</div>
</div>

 

</div>
</div>
</div>
</div>

