
<div class="header-container">
{{>header}}
</div>

<div id="navbar">
{{>navbar}}
</div>


<div class="menu-page content">
<div class="container">
<div class="wrapper">
<div class="menu">
    <h1>Menu</h1>



<div class="menu-item">
    <h2>Dishes:</h2>
    {{#each menuItems as |xValue xKey|}}
   {{#each xValue.foodItems as |yValue yKey|}}
        {{yValue}} 
    {{/each}}
    {{/each}}
</div>
 

 <div class="menu-item"> 
     <h2>Vino:</h2>
{{#each menuItems as |xValue xKey|}}
 {{#each xValue.wineItems as |yValue yKey|}}
       {{yValue}} 
    {{/each}}
    {{/each}}
 </div>


<div class="menu-item">
    <h2>Dessert:</h2>
{{#each menuItems as |xValue xKey|}}
{{#each xValue.dessertItems as |yValue yKey|}}
       {{yValue}} 
    {{/each}}
    {{/each}}
</div>


</div>
</div>
</div>
</div>


