
<div class="header-container">
{{>header}}
</div>

<div id="navbar">
{{>navbar}}
</div>


<div class="menu-page content">
<h1>Menu Page</h1>

{{#each menuItems as |xValue xKey|}}

    {{#each xValue.foodItems as |yValue yKey|}}
        <p>{{yValue}}</p>
    {{/each}}

    <hr>

    {{#each xValue.wineItems as |yValue yKey|}}
        <p>{{yValue}}</p>
    {{/each}}

    <hr>

    {{#each xValue.dessertItems as |yValue yKey|}}
        <p>{{yValue}}</p>
    {{/each}}

{{/each}}



</div>


