
<div class="header-container">
{{>header}}
</div>

<div id="navbar">
{{>navbar}}
</div>


<div class="menu-page content">
<div class="container">
<div class="wrapper">
<div class="menu">
    <h1>Menu</h1>

<img src="https://images.unsplash.com/photo-1458642849426-cfb724f15ef7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80"
width = "100%" 
height="auto">
<div class="menu-item">
    <h3>Dishes:</h3>
    {{#each menuItems as |xValue xKey|}}
   {{#each xValue.foodItems as |yValue yKey|}}
        {{yValue}} 
    {{/each}}
    {{/each}}
</div>
 

<img src="https://images.unsplash.com/photo-1516594915697-87eb3b1c14ea?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
width = "100%" 
height="auto">
 <div class="menu-item"> 
     <h3>Vino:</h3>

{{#each menuItems as |xValue xKey|}}
 {{#each xValue.wineItems as |yValue yKey|}}
       {{yValue}} 
    {{/each}}
    {{/each}}
 </div>


<img src="https://images.unsplash.com/photo-1456014673271-90b7fddf2eea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
width = "100%" 
height="auto">
<div class="menu-item">
    <h3>Dessert:</h3>
{{#each menuItems as |xValue xKey|}}
{{#each xValue.dessertItems as |yValue yKey|}}
       {{yValue}} 
    {{/each}}
    {{/each}}
</div>


</div>
</div>
</div>
</div>


