
<div class="header-container">
{{>header}}
</div>

<div id="navbar">
{{>navbar}}
</div>


<div class="review-page content">
       <div class="container">
      <h2 class="brand">Reviews</h2>
      <div class="wrapper">
          
<div class="review-form">

 <form action="/reviews" method ="post">

    <p>
    <label>Name:</label>
   <input type="name2" name="name2">
    </p>

    <p class="full">
    <label>Message:</label>
    <textarea type="text" name="description"></textarea>
    </p>
    
    <p class="full">
    <button type="submit">Add</button>
    </p>
    
    </form>
    </div>

          
      <div class="customer-reviews">
   <ul>
            {{#reviews}}
            <li>
                {{description}} - {{name2}}
            </li>
            {{/reviews}}
    </ul>

      </div>
        </div>
          </div>

   
</div>