<div class="header-container">
{{>header}}
</div>

<div id="navbar">
{{>navbar}}
</div>

<div class="thanks-page content">
<div class="container">
<div class="wrapper">
          
<div class="thanks">

<h1>Thank You!</h1>

<p>Thank you for getting in contact with us.</p>
<p>You will recieve a response shortly!</p>
<p>Carmen's Restaurant <i class="fas fa-pizza-slice"></i></p>

</div>
</div>
</div>
</div>