*{
    box-sizing: border-box;
}

body {
    background: #FEF6EF;
    line-height: 1.6;
    color: black;
    font-family: 'Dancing Script', cursive;
}

.contact-page{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-bottom: 10%;
   
}

.carmen-info{
    background: white;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.contact-form {
    padding: 1em;
    background: #FEE2C2;
}


.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact-form form label{
    display: block;
}

.contact-form form p{
    margin: 0;
}

.contact-form form .full{
    grid-column: 1/3;
}
.contact-form form button, .contact-form form input, .contact-form form textarea{
    width:100%;
    padding:1em;
    border:1px solid #FEBD84;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
  }
  
  .contact-form form button{
    background:#FEBD84;
    border:0;
    text-transform: uppercase;
  }
  
  .contact-form form button:hover,.contact-form form button:focus{
    background: #FED78A;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  


.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    display: grid;

}

.wrapper > *{
    padding: 1em;
}

.brand {
    text-align: center;
}
h1{
    padding-top: 60px;
    text-align: center;
}


 /*for sticky nav*/
.content {
    padding: 40px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;

}

.sticky + .content {
    padding-top: 60px;
}

/* Large screens*/

@media(min-width:700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > *{
        padding: 2em;
    }

    .carmen-info, .brand {
        text-align: left;
    }
}

/*For navbar*/

.nav-container {
    margin-right: 10%;

}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
   margin-left: 5%;
   font-family: 'IBM Plex Sans Condensed', sans-serif;
 
}

.topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #fff;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding: 10px;
    }
  }

  /*Footer*/

footer {
      position: relative;
      bottom: 0;
      width: 100%;
      padding: 30px;
  
  }
