*{
    box-sizing: border-box;
}

body {
    background: #FEF6EF;
    line-height: 1.6;
    color: #485e74
}

.review-page{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
h1{

    text-align: center;
}
.header-container{
    margin: 10px;
    padding-top: 60px;
 }

 /*for sticky nav*/
.content {
    padding: 40px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;

}

.sticky + .content {
    padding-top: 60px;
}
/* end sticky nav*/

.customer-reviews{
    background: white;
    text-align: center;
}

.review-form {
    padding: 25em;
    background: #FEE2C2;
}


.review-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.review-form form label{
    display: block;
}

.review-form form p{
    margin: 0;
}

.review-form form .full{
    grid-column: 1/3;
}
.review-form form button, .review-form form input, .review-form form textarea{
    width:100%;
    padding:1em;
    border:1px solid #FEBD84;
  }
  
  .review-form form button{
    background:#FEBD84;
    border:0;
    text-transform: uppercase;
    max-width: 50%;
  }
  
  .review-form form button:hover,.review-form form button:focus{
    background: #FED78A;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  


.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > *{
    padding: 1em;
}

.brand {
    text-align: center;
}
h1{
    padding-top: 60px;
    text-align: center;
}

.header-container{
    margin: 10px;
    padding-top: 60px;
 }

 /*for sticky nav*/
.content {
    padding: 40px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;

}

.sticky + .content {
    padding-top: 60px;
}

